In [ ]:
['REGION', 'DIVISION', 'ST', 'PUMA', \
                     , 'ADJINC', 'WIF', 'WORKSTAT', 'HHL', \
                     'FPARC', 'HHT', 'HUGCL', 'HUPAC', 'LNGI', 'MULTG', \
                     'NPP', 'NR', 'PARTNER', 'PSF', 'R18', 'R65', 'SSMC', \
                     'ACCESS', 'BROADBND', 'COMPOTHX', 'DIALUP', 'HISPEED', 'LAPTOP', \
                     'OTHSVCEX', 'SATELLITE', 'SMARTPHONE', 'TABLET', 'TEL', \
                     'TYPE', 'BATH', 'REFR', 'RWAT', \
                     'RWATPR', 'SINK', 'STOV', 'TEN', 'KIT', 'MV', 'PLM', 'PLMPRP', \
                     'HOTWAT', 'SRNT', 'SVAL', 'ELEFP', \
                     'FULFP', 'HFL', \
                     'RNTM']

In [ ]:
['HINCP', 'VEH', 'NP', 'NPF', 'NRC', 'BDSP', 'BLD', 'RMSP', \
              'YBL', 'CONP', 'ELEP', 'GASP', 'FULP', 'INSP', 'MHP', \
              'RNTP', 'WATP', 'GRNTP', 'SMOCP']

In [ ]:
Flags = ['WATFP', 'GASFP', 'FULFP', 'ELEFP', 'PLMPRP', 'RWATPR', 'ADJINC']

In [ ]:
Unnecessary = ['PLMPRP', 'RWATPR', 'ADJINC']

# Read in csv and explore the data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('psam_h11.csv')

In [3]:
df.head()

,RT,SERIALNO,DIVISION,PUMA,REGION,ST,ADJHSG,ADJINC,WGTP,NP,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,H,2018GQ0000005,5,103,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
1,H,2018GQ0000132,5,102,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
2,H,2018GQ0000300,5,103,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
3,H,2018GQ0000472,5,105,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
4,H,2018GQ0000601,5,105,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(3754, 234)

In [5]:
df_h = df

In [6]:
df_h_eda = df_h[df_h.columns.difference(['RT', 'DIVISION', 'SPORDER', 'PUMA', 'REGION', 'ST', 'ADJINC', 'ADJHSG', 'WGTP'])]

In [7]:
df_h_eda.head()

,ACCESS,ACR,AGS,BATH,BDSP,BLD,BROADBND,COMPOTHX,CONP,DIALUP,...,WGTP77,WGTP78,WGTP79,WGTP8,WGTP80,WGTP9,WIF,WKEXREL,WORKSTAT,YBL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

# Drop WGTP columns (unnecessary and would cause collinearity issues)

In [8]:
for i in range(1, 81):
    coltodrop = 'WGTP' + str(i)
    df_h_eda = df_h_eda.drop(coltodrop, axis = 1)

In [9]:
df_h_eda.head()

,ACCESS,ACR,AGS,BATH,BDSP,BLD,BROADBND,COMPOTHX,CONP,DIALUP,...,TYPE,VACS,VALP,VEH,WATFP,WATP,WIF,WKEXREL,WORKSTAT,YBL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# train test split

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X = df_h_eda.drop(['FINSP'], axis = 1)

In [15]:
y = df_h_eda.FINSP

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1007)