In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('psam_h11.csv')

In [3]:
df.head()

,RT,SERIALNO,DIVISION,PUMA,REGION,ST,ADJHSG,ADJINC,WGTP,NP,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,H,2018GQ0000005,5,103,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
1,H,2018GQ0000132,5,102,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
2,H,2018GQ0000300,5,103,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
3,H,2018GQ0000472,5,105,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0
4,H,2018GQ0000601,5,105,3,11,1000000,1013097,0,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.shape

(3754, 234)

In [21]:
len(df_h.SERIALNO.unique())

3754

In [6]:
df_h = df

In [7]:
df_p = pd.read_csv('psam_p11.csv')

In [8]:
df_p.head()

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
0,P,2018GQ0000005,5,1,103,3,11,1013097,9,12,...,9,0,9,12,0,9,18,17,19,20
1,P,2018GQ0000132,5,1,102,3,11,1013097,12,94,...,32,0,11,10,10,24,12,0,11,14
2,P,2018GQ0000300,5,1,103,3,11,1013097,62,18,...,2,110,60,2,121,119,62,68,3,61
3,P,2018GQ0000472,5,1,105,3,11,1013097,92,20,...,94,0,90,0,95,93,95,207,90,0
4,P,2018GQ0000601,5,1,105,3,11,1013097,90,18,...,92,163,2,0,91,89,186,101,87,93

In [18]:
df_p.shape

(6549, 286)

In [23]:
df_p.SERIALNO.unique()

array(['2018GQ0000005', '2018GQ0000132', '2018GQ0000300', ...,
       '2018HU1399579', '2018HU1399615', '2018HU1399654'], dtype=object)

In [14]:
sum(df_h.FINSP.value_counts())

3196

In [16]:
len(df_h.FINSP)-sum(df_h.FINSP.value_counts())

558

In [22]:
df_p.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'